@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Iwa Sugriwa<br />
    <abbr title="Phone">P:</abbr>
    082316115700
</address>

<address>
    <strong>Google Email:</strong> <a href="mailto:iwasug@gmail.com">iwasug@gmail.com</a><br />
    <strong>Microsoft Email:</strong> <a href="mailto:iwasugriwa@hotmail.com">iwasugriwa@hotmail.com</a>
</address>
